# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
backend/res10_300x300_ssd_iter_140000.caffemodel
backend/deploy.prototxt
